page-qr-scan {
    #qrscan1{
        background: color($colors ,energy);
       
        .marginTop{
            margin-top: 80px;
        }

        .my-label {
            font-size: 20px;
            color:red;
            
          }
        
    }
}
